/* src/styles/theme.css */
body.light {
  --bg: #F6F6EB;
  --text: #212A27;
  --nav-bg: #D5D6EA;
  --nav-text: #212A27;
  --butt-bg: #D7ECD9;
  --butt-text: #212A27;
}

body.dark {
  --bg: #0A0001;
  --text: #EEEEEE;
  --nav-bg: #410000;
  --nav-text: #EEEEEE;
}

.theme-toggle {
  background: none;
  border: 1px solid var(--text);
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  color: var(--text);
}
